$dark-blue: #003074;
$medium-blue: #0043A2;
$selected-blue: #003e96;


.side-menu {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  left: 0;
  font-size: 15px;
  background: $medium-blue;

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark-blue;
    height: 80px;

    .fa {
      display: none;
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 30px;

    .item {
      display: flex;
      padding: 20px 25px;
      text-decoration: none;
      align-items: center;
      opacity: 0.5;
      border-left: 2px solid $selected-blue;

      &.active {
        opacity: 1;
        background-color: $selected-blue;
        border-left: 2px solid #fff;
        padding-left: 23px;
      }

      &:hover {
        opacity: 1;
        background-color: $selected-blue;
        border-left: 2px solid #fff;
        box-sizing: border-box;
      }

      .icon {
        width: 23px;
        height: 23px;
        margin-right: 10px;
      }

      .name {
        font-size: 15px;
        color: #fff;
      }
    }
    .item-mobile {
      display: none;
    }
  }
  .copyright {
    margin-bottom: 30px;
    margin-top: auto;
    margin-left: 20px;
    font-size: 15px;
    color: #5FA1FF;
  }
  .logout-mobile {
    display: none;
  }
}

/*MEDIA QUERIES*/
@media screen and (max-width: 992px){
  .side-menu {
    display: none;

    .logo-wrapper {
      .fa {
        display: block;
        color: #fff;
        font-size: 20px;
        margin-left: 1.2rem;
      }
    }
  }
  .side-menu-mobile {
    display: flex;

    .items {
      .item {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .item-mobile {
        display: flex;
        align-items: center;

        .fa {
          color: #fff;
          font-size: 22px;
          margin-right: 10px;
        }
      }
      .line {
        border-top: 1px solid rgba(154, 154, 154, 0.37);
        width: 220px;
        margin-left: 20px;
      }
    }
    .copyright {
      display: none;
    }
    .logout-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      height: 65px;
      background-color: #3381F0;
      color: #fff;
    }
  }
}


